# deps
node_modules/
.pnpm-store/

# build
dist/
build/
.next/
.turbo/
*.tsbuildinfo

# rust / tauri
target/
**/target/
src-tauri/Cargo.lock
src-tauri/gen/
__pycache__/
**/__pycache__/

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# logs
*.log
.npm/
.pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# prisma
server/prisma/migrations/dev.db*
